doctype html
html
	head
		base(href='/')
		title NAIC Angular 2 Example App
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='node_modules/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
		link(href='node_modules/font-awesome/css/font-awesome.min.css', rel='stylesheet')
		link(href='lib/bootflat.css', rel='stylesheet')
		link(href='naic-example.css', rel='stylesheet')
		script(src='node_modules/lodash/lodash.js')
		script(src='node_modules/jquery/dist/jquery.min.js')
		script(src='node_modules/lodash/lodash.js')
		script(src='node_modules/moment/min/moment.min.js')
		script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
		//- Common UI
		//- script(src='http://localhost:8080/public/common-ui/enterprise/v1/js/global-main.js')

		//- Polyfill(s) for older browsers
		script(src='node_modules/core-js/client/shim.min.js')
		script(src='node_modules/zone.js/dist/zone.js')
		script(src='node_modules/reflect-metadata/Reflect.js')
		script(src='node_modules/systemjs/dist/system.src.js')
		script(src='systemjs.config.js')
		script.
			System.import('app').catch(function(err) {
				console.error(err);
			});
			// naic.ui('ready', function () {
			// 	naic.ui('title', 'NAIC Example App');
			// 	naic.ui('bannerBackground', {background: 'http://localhost:8080/public/images/rdc-banner-blk.png'});
			// 	naic.ui('bannerLogo', {appLogo: 'http://localhost:8080/public/images/rdc-abbr-logo-white.png'});
			// });
	body
		ne2-app
			| Loading...
			i.fa.fa-spinner.fa-spin.fa-lg
