<table class="table table-striped">
	<caption class="text-center">AngularJS Variables in a Table</caption>
	<thead>
		<tr>
			<th>Kind</th>
			<th>Explanation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Controller Variable</th>
			<td>{{controllerVariable}}</td>
		</tr>
		<tr>
			<th>Service Variable</th>
			<td>{{nes.serviceVariable}}</td>
		</tr>
	</tbody>
</table>
<section>
	<h2>Panels</h2>
	<div class="row">
		<template ngFor let-panelStyle [ngForOf]="panelStyles" let-i="index">
			<section class="col-sm-6 col-md-4 col-lg-3">
				<div class="panel" [ngClass]="'panel-' + panelStyle">
					<div class="panel-heading">
						<h3 class="panel-title">{{_.capitalize(panelStyle)}} Panel</h3>
					</div>
					<div class="panel-body">
						Paragraph in panel
					</div>
				</div>
			</section>
			<div class="clearfix visible-xs" [ngClass]="{
				'visible-sm': !((i + 1) % 2),
				'visible-md': !((i + 1) % 3),
				'visible-lg': !((i + 1) % 4)
			}"></div>
		</template>
	</div>
</section>
