$grayish: #f1f2f6;

body {background: $grayish;}
[click], .clickable {cursor: pointer;}
.bottom-buffer {margin-bottom: 10px;}
.btn.btn-info.active, .btn.btn-info:active {
	background-color: #37bc9b;
	border-color: #48cfad;
}
